---

/*

    *  -----------------------------------------------------  *
    *  -----  index.astro  --  /src/pages/index.astro  -----  *
    *  -----------------------------------------------------  *
*/


import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import { siteConfig } from '@config/site-config';
import TypeBlogPost from '@components/TypeBlogPost.astro';
import { getCollection } from 'astro:content';


/** -----  Get all blog posts  ----- */
const blogPosts = await getCollection('blog');

/** -----  Get all frontmatter  ----- */
const frontmatter = blogPosts.map((post) => post.data);

//  -----  Debug  -----
console.log(' ~ blogPosts  => ', blogPosts);
console.log(' ~ frontmatter  => ', frontmatter);


---

<Layout title={siteConfig.title}>
    
    <section class="bg-dark:bg-gray-900">
        
        <div class="container px-6 py-10 mx-auto">
                
            <!--  -----  Title Page Blog  -----  -->
            <Header transition:name='header'> 
                {siteConfig.title}
            </Header>
          

            <!--  -----  Posts Container  ----- -->
            <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
                
                {
                    blogPosts.map((blogPost) => (
                        <TypeBlogPost post={blogPost} />
                    ))
                }                                
            </div>

        </div>

    </section>
	
</Layout>
