---


/*
    *  ------------------------------------------------------------  *
    *  -----  Header.astro  --  /src/components/Header.astro  -----  *
    *  ------------------------------------------------------------  *
*/


import { siteConfig } from '@config/site-config';


---

<h1
    class="
        text-xl xs:text-2xl sm:text-3xl lg:text-4xl font-semibold text-amber-100 capitalize w-full text-center
        lg:text-4xl dark:text-white bg-blue-300 px-4 py-2 rounded-md flex flex-row items-center justify-center xs:gap-2 gap-10
        shadow-amber-100/20 shadow-md
    "
>
    <img
        src="/astro-official.svg"
        alt="Astro Logo"
        class="inline w-8 h-8 mr-2 mb-1"
    />
        
    <slot />
    
    <img
        src="/astro-official.svg"
        alt="Astro Logo"
        class="inline w-8 h-8 mr-2 mb-1"
    />

</h1>
