---

/*
    *  -----------------------------------------------------------------  *
    *  -----  BlogLayout.astro  --  /src/layouts/BlogLayout.astro  -----  *
    *  -----------------------------------------------------------------  *
*/


import { ClientRouter } from 'astro:transitions';
import type { ImageMetadata } from 'astro';
import '@styles/global.css';
import '@styles/blog.css';
import Navbar from '@components/Navbar.astro';


interface Props {
    
    /** -----  Blog Frontmatter  ----- */
    frontmatter: {
        title: string;
        date?: string | Date;
        description?: string;
        author?: string;
        image?: string | ImageMetadata;
        tags?: string[];
        layout?: string;
    };
}

const { frontmatter } = Astro.props;


console.log(' ~ frontmatter  => ', frontmatter);


---



<!doctype html>
<html lang="es">
	
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/post-favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title> {frontmatter.title} </title>
        <ClientRouter/>
	</head>
	
    <body class="bg-gray-900 flex flex-col items-center min-h-screen">

        <Navbar />
    
        <main class="w-full mb-10 max-w-5xl px-6 py-8 sm:py-10">

            <slot />

        </main>

        <!--  -----  Button to go back to the top  -----  -->
        <div class="my-5">
            <a href="#navbar"> Ir arriba </a>
        </div>
    
    </body>

</html>