---

/*
    *  ---------------------------------------------------------  *
    *  -----  Layout.astro  --  /src/layouts/Layout.astro  -----  *
    *  ---------------------------------------------------------  *
*/


import '@styles/global.css';
import { ClientRouter } from 'astro:transitions';
import Header from '@components/Header.astro';
import { siteConfig } from '@config/site-config';
import { base } from '@config/base-project';


interface Props {
    title?: string;
    headerTitle?: string;
}

const { title, headerTitle } = Astro.props;


---



<!doctype html>
<html lang="es">
	
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={`${base}/post-favicon.png`} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<title> {title} </title>

        <link
            rel="alternate"
            type="application/rss+xml"
            title="AntonyDev Blog Collections"
            href={new URL(`${base}/rss.xml`, Astro.site)}
        />

        <ClientRouter/>
	</head>
       
	
    <body class="bg-gray-900 flex flex-col items-center min-h-screen">
	
        <Header title={headerTitle ?? title ?? siteConfig.title} />

        <main class="w-full mb-10 max-w-5xl px-6 py-8 sm:py-10">

            <slot />

        </main>
        

	</body>
</html>