---

/*
    *  ---------------------------------------------------------  *
    *  -----  Layout.astro  --  /src/layouts/Layout.astro  -----  *
    *  ---------------------------------------------------------  *
*/


import '@styles/global.css';
import { ClientRouter } from 'astro:transitions';
import LinkGoBackAndImages from '../components/LinkGoBackAndImages.astro';


interface Props {
    
    /** -----  Title Page  ----- */
    title?: string;
}

const { title } = Astro.props;


---



<!doctype html>
<html lang="es">
	
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/post-favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title> {title} </title>
        <ClientRouter/>
	</head>
       
	
    <body class="bg-gray-900 flex flex-col items-center justify-center min-h-screen">
	
        <LinkGoBackAndImages href="/images" text="Imágenes" />

        <main class="mb-10 max-w-5xl px-2 py-2">

            <slot />

        </main>
        

	</body>
</html>